modules = ["python-3.12", "web", "nodejs-20"]
run = "python main.py"

[nix]
channel = "stable-24_05"
packages = ["bash", "libxcrypt"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
